.App {
  text-align: center;
  margin: 0px;
  height: 100vh;
  background: linear-gradient(-225deg, #ff3cac 0%, #562b7c 52%, #2b86c5 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
